.upload-file {
    width: 200px;
    background-color: #ededed;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
}

    .upload-file p {
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        line-height: 1;
    }

    .upload-file hr {
        margin: auto;
        border: none;
        height: 0;
        border-top: 2px solid #333;
        padding: 0;
        width: 85%;
    }

.div-button {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.date-beg {
    background-color: #83ff83;
    padding: 4px;
    border-radius: 6px;
}

.date-end {
    background-color: #ff5959;
    padding: 4px;
    border-radius: 6px;
}

.home {
    padding-top: 1rem !important;
    padding-right: 15rem !important;
    padding-left: 15rem !important
}