body {
}

a {
    outline: none;
    text-decoration: none;
}

    a:link {
        color: white;
    }

    a:visited {
        color: white;
    }

    a:focus {
        color: white;
        
    }

    a:hover {
        color: white;
    }

    a:active {
        color: white;
    }

span {
    padding: 8px;
}

.logo {
    padding-left: 30px;
}

    .logo a {
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
    }

.link-mek {
    padding-left: 15px;
}
    .link-mek a{
        padding: 8px;
    }

.user {
    padding-right: 30px;
}

.link-upload {
    padding-right: 15px;
}